= simple_form_for @question, :html => { :class => 'form-horizontal' } do |f|
  = f.input :title
  = f.association :group
  = f.input :content, placeholder: "Markdown supported"
  #epiceditor.hidden
  .form-actions
    = f.button :submit, :class => 'btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), questions_path, :class => 'btn'
    = link_to "javascript:void(0)", id: "load_epic_editor", class: "btn" do
      %i.icon-list-ul
      Epiceditor
- content_for :js do
  :javascript
    $(function() {
      $('#load_epic_editor').click(function() {
        $("#question_content").hide();
        var epicEditor = new EpicEditor({basePath: "/assets", file: {name: "q#{@question.id}", defaultContent: $("#question_content").val()}});
        $("#epiceditor").show();
        epicEditor.load().importFile("q", $("#question_content").val());
        $("form").submit(function() {
          $("#answer_content").val(epicEditor.exportFile());
        })
      });
    });
