.page-header
  %h2= @question.title
.page-header= markdown(@question.content)

= simple_form_for [@question, Comment.new] do |f|
  = f.input :comment, label: false, html: {style: "height: 40px; width: 680px;"}
  .form-actions
    = f.button :submit, class: "btn btn-primary", value: "Comment"
    = link_to t('.back', :default => t("helpers.links.back")), questions_path

- @question.comments.each do |comment|
  .row
    .span2 #{comment.user.name} says:
    .span4= comment.comment
