= simple_form_for [commentable, Comment.new] do |f|
  = f.input :comment, label: false, input_html: {class: "comment"}
  .form-actions
    = button_tag :submit, class: "btn btn-primary" do
      %i.icon-comment
      Comment
    = link_to t('.back', :default => t("helpers.links.back")), commentable
- commentable.comments.each do |comment|
  .row
    .span1 #{comment.user.name} says:
    .span8
      = markdown comment.comment
      - if current_user.admin?
        = link_to [comment.commentable, comment], method: :delete, class: "btn btn-danger" do
          %i.icon-trash
          Delete
