.panel.panel-info
  .panel-heading
    .panel-title Resend unlock instructions
  .panel-body
    = simple_form_for(resource, :as => resource_name, :url => unlock_path(resource_name), :html => { :method => :post }) do |f|
      = f.error_notification
      = f.input :email, :required => true
      = f.button :submit, "Resend unlock instructions"
  .panel-footer= render "devise/shared/links"
