.page-header
  %h2 Question categories

%table.table
  %thead
    %tr
      %th Name
      %th Description
      %th Questions
      - if can? :subscribe, Group
        %th
  %tbody
    - @groups.each do |group|
      %tr
        %td= group.name
        %td= group.description
        %td= link_to "View questions", [group, :questions]
        - if can? :subscribe, Group
          %td
            - if group.id.in? current_user.group_ids
              = link_to [:unsubscribe, group], method: :delete do
                %i.icon-minus
                Unsubscribe
            - else
              = link_to [:subscribe, group], method: :put do
                %i.icon-plus
                Subscribe

