.span3
  .well.sidebar-nav
    - if current_user.nil? || current_user.novice?
      %h3 News
      %ul.nav.nav-list
        %li.nav-header Gentoo newsletter
        %li= link_to "We are forking udev!", "/path1"
        %li= link_to "Should we use systemd?", "/path2"
    - elsif current_user.candidate?
      %h3 Welcome
      %ul.nav.nav-list
        %li.nav-header Questions
        %li= link_to "Due", unanswered_questions_path
        %li= link_to "Assigned", questions_path
        %li= link_to "Answered", answered_questions_path
        %li= link_to "Submit", new_question_path
    - elsif current_user.mentor?
      %h3 Mentor
      %ul.nav.nav-list
        %li.nav-header Candidates
        %li= link_to "Answered to check", check_answers_path
        %li= link_to "My sponsees", sponsees_path
        %li= link_to "Submit questions", new_question_path

    - elsif current_user.admin?
      %h3 Admin
      %ul.nav.nav-list
        %li.nav-header actions
        %li= link_to "Dashboard", admin_dashboard_path
