- if user_signed_in?
  .panel.panel-primary
    - if current_user.candidate?
      .panel-heading
        .panel-title Welcome
      .panel-body
        %ul.nav.nav-list
          %li.nav-header Questions
          %li= link_to "To be answered", unanswered_questions_path
          %li= link_to "Already answered", answered_questions_path
          %li= link_to "All", assigned_questions_path
      .panel-footer= progress_bar(current_user.progress)
    - elsif current_user.mentor?
      .panel-heading
        .panel-title Mentor
      .panel-body
        %ul.nav.nav-list
          %li.nav-header Actions
          %li= link_to "Answers to review", review_answers_path
          %li= link_to "All reviewed answers", reviews_path
          %li= link_to "Sponsees", sponsees_path
          %li= link_to "Candidates", candidates_path

    - elsif current_user.admin? || current_user.recruiter?
      .panel-heading
        .panel-title Recruiter actions
      .panel-body
        %ul.nav.nav-list
          %li= link_to "Admin Dashboard", admin_dashboard_path if current_user.admin?
          %li= link_to "Candidates", candidates_path
          %li= link_to "Sponsees", sponsees_path
          %li= link_to "Answers to review", review_answers_path
          %li= link_to "All reviewed answers", reviews_path
          %li= link_to "Ready Candidates", ready_candidates_path
          %li= link_to "Submit questions", new_question_path
