%table.table.table-striped
  %thead
    %tr
      %th Question
      %th By
      %th
  %tbody
    - @answers.each do |answer|
      %tr
        %td= answer.question.title
        %td= unsluggish_name answer.user.name
        %td
          - if answer.awaiting_review?
            = link_to [answer.question, answer], class: 'btn btn-warning' do
              %i.fa.fa-group
              Review
          - else
            = answer_status(answer)
            = link_to "View", [answer.question, answer], class: "btn"
= paginate @answers
