- if can? :answer, Question
  - if previous_question = @question.previous
    = link_to [:new, previous_question, :answer], class: "btn" do
      %i.icon-step-backward
      Previous
  = link_to [@question.group, :questions], class: "btn" do
    %i.icon-eject
    All
  - if next_question = @question.next
    = link_to [:new, next_question, :answer], class: "btn btn-primary" do
      Next
      %i.icon-step-forward
- elsif @answer
  - if previous_answer = @answer.previous
    = link_to [@question, previous_answer], class: "btn" do
      %i.icon-step-backward
      Previous
  = link_to [:review, :answers], class: "btn" do
    %i.icon-eject
    All
  - if next_answer = @answer.next
    = link_to [@question, next_answer], class: "btn btn-primary" do
      Next
      %i.icon-step-forward
  - if next_rejected_answer = @next_rejected
    = link_to [@question, next_rejected_answer], class: "btn" do
      Next Rejected
      %i.icon-circle-arrow-right
