.page-header
  %h2= @question.title
  %span#toggle_question= link_to "toggle content", "#"

.page-header.hidden.question
  %p= markdown(@question.content)

.answer= markdown @answer.content
%p= link_to "by #{@answer.user.name}", novice_path(@answer.user)
- if can? :review, Answer
  .form-actions
    = link_to [:accept, @answer], :class => 'btn btn-primary' do
      %i.icon-ok
      Accept
    = link_to [:reject, @answer], :method => "put", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger' do
      %i.icon-remove
      Reject
= render :partial => 'comments/form', locals: {commentable: @answer}

- content_for :js do
  :javascript
    $("#toggle_question").click(function() {
      $(".question").toggle();
    });
