.row
  - list.to_a.in_groups_of(3, false) do |sponsees|
    - sponsees.each do |sponsee|
      .col-md-4.col-sm-6.col-xs-12
        .thumbnail
          = gravatar_tag(sponsee)
          .caption
            %h3= link_to unsluggish_name(sponsee.name), candidate_path(sponsee)
            %p= truncate(sponsee.biography, length: 150)
            - if can?(:sponsor, User)
              %p
                - if current_user.mentoring?(sponsee)
                  = link_to sponsee_path(sponsee), method: :delete, class: "btn btn-primary" do
                    %i.fa.fa-unlock
                    Unmentor
                  - unless sponsee.ready?
                    = link_to candidate_answers_path(sponsee), class: "btn btn-warning" do
                      %i.fa.fa-group
                      Review
                - else
                  = link_to sponsor_candidate_path(sponsee), method: :put, class: "btn btn-primary" do
                    %i.fa.fa-umbrella
                    Mentor 
                - if (current_user.recruiter? || current_user.admin?) && !current_user.mentoring?(sponsee)
                  = link_to candidate_answers_path(sponsee), class: "btn btn-success" do
                    %i.fa.fa-check
                    Grade
            - if can?(:promote, User) && sponsee.ready?
              %p
                = link_to recruit_candidate_path(sponsee), method: :put, class: "btn btn-danger" do
                  %i.fa.fa-trophy
                  Recruit 
= paginate list
