%ul.thumbnails
  - list.each do |sponsee|
    %li.span3
      .thumbnail
        %img(src="http://placehold.it/260x200")
        %h3= sponsee.name
        %p= truncate(sponsee.biography, length: 150)
        - if can?(:sponsor, User)
          %p
            - if current_user.mentoring?(sponsee)
              = link_to sponsee_path(sponsee), method: :delete, class: "btn btn-primary" do
                %i.icon-unlock
                Unmentor
              - unless sponsee.ready?
                = link_to candidate_answers_path(sponsee), class: "btn btn-warning" do
                  %i.icon-group
                  Review
            - else
              = link_to sponsor_candidate_path(sponsee), method: :put, class: "btn btn-primary" do
                %i.icon-umbrella
                Mentor 
        - if can?(:promote, User) && sponsee.ready?
          %p
            = link_to recruit_candidate_path(sponsee), method: :put, class: "btn btn-danger" do
              %i.icon-trophy
              Recruit 
= paginate list
