:css
  strong {
    display: inline-block;
    text-align: right;
    width: 170px;
  }
.panel.panel-info
  .panel-heading
    .panel-title= unsluggish_name @candidate.name
  .panel-body
    .row
      .col-md-9
        %p 
          %strong Email
          = @candidate.email
        %p
          %strong Date of birth
          = @candidate.date_of_birth
        %p 
          %strong SSH public key
          - unless @candidate.ssh_key.blank?
            = link_to "download", ssh_key_candidate_path(@candidate)
          - else
            To be uploaded
        %p 
          %strong GnuPG public key
          - unless @candidate.gpg_key.blank?
            = link_to "download", gpg_key_candidate_path(@candidate)
          - else
            To be uploaded

        %p 
          %strong Address
          = @candidate.address
        %p
          %strong Skills
          = @candidate.skills
        %p 
          %strong Other experiences
          = @candidate.other_skills
        %p 
          %strong Contributed projects
          = @candidate.projects
        %p
          %strong Description
        %p= markdown @candidate.biography
      .col-md-3
        .thumbnail= gravatar_tag(@candidate)
        %p
          %em Subscribed quests
          - @candidate.groups.each do |group|
            %p
              = link_to group.name, candidate_answers_path(@candidate)
              %span.label.label-info= @candidate.progress_for(group)
          - if @candidate.groups.empty?
            %p No question group subscribed.

        %p
          %em Badges Earned
          - @candidate.badges.each do |badge|
            %span.label.label-info= badge
          - if @candidate.badges.empty?
            %span.label.label-default None Badges Earned

  .panel-footer= link_to "<<Back", :back
