.page-header
  %h2 Project list

%table.table
  %thead
    %tr
      %th name
      %th leader(s)
      %th members
      %th description
  - @projects.each do |p|
    %tbody
      %tr
        %td= project_page(p).html_safe
        %td= p.team[:leaders]
        %td= p.team[:members]
        %td= p.description

= paginate @projects
