.panel.panel-info
  .panel-heading
    .panel-title Sign in

  .panel-body
    = simple_form_for resource, as: resource_name, url: session_path(resource_name), wrapper_mappings: { check_boxes: :vertical_radio_and_checkboxes, boolean: :vertical_boolean } do |f|
      = f.error_notification
      = f.input :email, :required => false, :autofocus => true
      = f.input :password, :required => false
      - if devise_mapping.rememberable?
        = f.input :remember_me, as: :boolean
      = f.button :submit, "Sign in", class: "btn-primary"
  .panel-footer= render "devise/shared/links"
